body {
  background-image: url('./images/background.png');
  color: beige;
  font-family: Courier New , Courier , monospace;
  margin: 0;
  padding: 0;
  text-align: center;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.obs {
  font-size: 0.7em;
}

.tittle {
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 0;
  font-size: 20px;
  padding: 1px;
  text-transform: uppercase;
}

header {
  font-size: 25px;
  text-transform: uppercase;
}

/* missions */
.missionsCss {
  justify-content: center;
}

.missionCard {
  background-color: rgba(99, 98, 98, 0.185);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: 350px;
}

.missionCard:hover {
  background-color: rgba(0, 0, 0, 0.61);
}

.titleMissionCard {
  background-color: rgba(0, 0, 0, 0.589);
  border: solid rgba(255, 228, 196, 0.37) 1px;
  border-radius: 0;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}

.contentMissionCard {
  background-color: rgba(0, 0, 0, 0.589);
  border: solid rgba(255, 228, 196, 0.37) 1px;
  border-radius: 0;
}

/* solar system e planets */
.SolarSystem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 330px;
}

.PlanetCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgPlanet {
  align-self: center;
}

.Mercúrio {
  animation: animePequeno 20s infinite;
  width: calc(2.5 * 4.86px);
}

.Vênus {
  animation: animePequeno 20s infinite;
  width: calc(2.5 * 12.1px);
}

.Terra {
  animation: animePequeno 20s infinite;
  width: calc(2.5 * 12.76px);
}

.Marte {
  animation: animePequeno 20s infinite;
  width: calc(2.5 * 6.8px);
}

.Júpiter {
  animation: animeGrande 20s infinite;
  width: calc(2.5 * 143px);
}

.Saturno {
  animation: animeGrande 20s infinite;
  width: calc(2.5 * 120px);
}

.Urano {
  animation: animeGrande 20s infinite;
  width: calc(2.5 * 50.8px);
}

.Netuno {
  animation: animeGrande 20s infinite;
  width: calc(2.5 * 49.4px);
}

@keyframes animePequeno {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animeGrande {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* hoever */
.Mercúrio:hover {
  animation: animeHover 5s infinite;
  width: 170px;
}

.Vênus:hover {
  animation: animeHover 5s infinite;
  width: 170px;
}

.Terra:hover {
  animation: animeHover 5s infinite;
  width: 170px;
}

.Marte:hover {
  animation: animeHover 5s infinite;
  width: 170px;
}

.Júpiter:hover {
  animation: animeHover 5s infinite;
  width: calc(2.6 * 143px);
}

.Saturno:hover {
  animation: animeHover 5s infinite;
  width: calc(2.7 * 120px);
}

.Urano:hover {
  animation: animeHover 5s infinite;
  width: 180px;
}

.Netuno:hover {
  animation: animeHover 5s infinite;
  width: 180px;
}

@keyframes animeHover {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* @media (min-width: 601px ) and (max-width: 999px) {

  .Mercúrio {
    width: calc(1.5 * 4.860px);
  }
  .Vênus {
    width: calc(1.5 * 12.100px);
  }
  .Terra {
    width: calc(1.5 * 12.760px);
  }
  .Marte {
    width: calc(1.5 * 6.800px);
  }
  .Júpiter {
    width: calc(1.5 * 143.000px);
  }
  .Saturno {
    width: calc(1.5 * 120.000px);
  }
  .Urano {
    width: calc(1.5 * 50.800px);
  }
  .Netuno {
    width: calc(1.5 * 49.400px);
  }

}

@media (max-width: 600px) {

  .Mercúrio {
    width: calc(1 * 4.860px);
  }
  .Vênus {
    width: calc(1 * 12.100px);
  }
  .Terra {
    width: calc(1 * 12.760px);
  }
  .Marte {
    width: calc(1 * 6.800px);
  }
  .Júpiter {
    width: calc(1 * 143.000px);
  }
  .Saturno {
    width: calc(1 * 120.000px);
  }
  .Urano {
    width: calc(1 * 50.800px);
  }
  .Netuno {
    width: calc(1 * 49.400px);
  }
} */
